<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <h4>Nutrition Facts</h4>
            <dl>
                <dt>Calories</dt>
                <dt>670</dt>
            </dl>
            {{outlet}}
        </div>
    </div>
</div>

