<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 class="">Chocolate Cake</h4>
                <img src="/images/choc-cake.jpg" alt="cake">
            <p>3.5</p>
            <p>A nice slice of Chocolate cake ready for consumption.</p>
            <p><a href="/item/choc-cake/nutrition">Nutrition</a></p>
            {{outlet}}
        </div>
    </div>
</div>


