Who's Hungy ?

<ul class="items-container">
    <li class="menu-item">
        <h4>Strawberry Pudding</h4>
        <img src="/images/strawberry-pudding.jpeg" alt="strawberry puding">
    </li>
    <li class="menu-item">
        <h4>Chocolate Pudding</h4>
        <img src="/images/choc-pudding.jpg" alt="chocolate puding">
    </li>
    <li class="menu-item">
        <h4>Chocolate Cake</h4>
        <img src="/images/choc-cake.jpg" alt="cake">
    </li>
</ul>


{{outlet}}
