Who's Hungry ?

<div class="container">
    <div class="row">
        {{#each model as |item|}}
            {{menu-item foodItem = item}}
        {{/each}}
        {{outlet}}
    </div>
</div>
{{log model}}

